.trackerContainer {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.loginContainer {
  background-color: linen;
  width: 350px;
  padding: 30px;
  padding-top: 20px;
  margin: auto;
  border: 1px solid rgb(0, 0, 50);
  margin-top: 20px
}

.inputBox {
  display: flex;
  flex-direction: column;
}

.input {
  width: 250px;
  margin: auto;
  margin-top: 20px;
}

.loginButton {
  width: 100px;
  margin: auto;
  margin-top: 20px;
}

.goals {
  display: inline-block;
  padding: 10px;
  margin-top: -30px;
}

.goal {
  width: 200px;
}

.addButton {
 margin-top: 10px;
}

.radioGoal {
  padding: 0px 10px 10px 10px;
  width: 300px;
}

.suggestedGoals {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.suggestedGoalsTitle {
  margin-top: 30px;
}

.trackerHr {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 60%;
}
